body{
	padding:02.7777778%; /*25px/900px*/
	max-width:935px;
	margin: 0 auto;
	font:100%;/*16px*/
	background-image: url(../images/chainmail.jpg);
}

/*main header
=========================================================================*/
h1{
	font-family: 'Sofadi One', cursive;
	font-size:3.125em; /*50px*/
	float:right;
	width:52.783726%; /*493px*/
	margin-right:09.127789%; /*45px*/
	margin-top:-5px;
}
h2{
	font-family: 'Cutive Mono', serif;
	font-size:1.4375em; /*23px*/
	float:right;
	width:32.919255%; /*318px*/
	margin-right:18.823529%;/*175px*/
	margin-top: -90px;
	text-shadow: 2px 4px 8px #111;
}
div{
	width:033.469806%; /*372px*/
}

/*Navigation
==========================================================================*/
#navagation{
	background:white;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	font:1em;
	overflow:hidden;
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}

#navagation li{
	width:10.330579%;/*100px*/
	float:left;
}

#navagation a{
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
	text-align:center;
}
/*Active buttons
=========================================================================*/
a:link{
	color: #336699;
}
a:visited{
	color: #9999cc;
}
a:hover{
	color: #cc33cc;
}
a:active{
	color: #999;
}

/*Section

==========================================================================*/
section p{
	font:1em;
	width: 30.959752%;/*300px*/
	float:left;
}
aside{
	width: 23.219814%;/*225*/
	height: 169px;
	float:left;
	padding-left:007.739938%; /*75px*/
}
#free{
	width:30.959752% /*300px*/
}

h3{
	font:1.5625em; /*25px*/
}

#metal{
	list-style-type:katakana;
	font:1em;
}

h4{
	background:white;
	font:1.125em; /*18px*/
	height:30px;
	line-height:30px;
	text-align:center;
	width:99.896801%; /*968px*/
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
	clear:left;
}

/*Table

===========================================================================*/
h5{
	background:white;
	font:1.125em; /*18px*/
	height:30px;
	line-height:30px;
	text-align:center;
	width:99.896801%; /*968px*/
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
	clear:left;
}

table{
	border-collapse: collapse;
	border: 1px solid #000;
	margin: 0 auto;
	background-color:#fff;
}
td{
	border: 1px solid #000;
	padding:0.3em;
}
th{
	text-align: left;
	background-color: #9999cc;
	color:#fff;
	padding:0.3em;
}

/*Images

=============================================================================*/	
#images{
	background:white;
	list-style-type:none; 
	border:1px solid black;
	width:085.139319%; /*825px*/
	padding-top:25px;
	padding-bottom:20px;
	margin:01.547988% auto; /*15px*/
	overflow:hidden;
}
#images li{
	float:left;
	margin-left:002.30303%; /*19px*/
	width:043.636364%; /*360px*/
}
img{
	max-width:100%;
}

/*Footer

===============================================================================*/
h6{
	font:1.125em; /*18px*/
	background:white;
	height:30px;
	line-height:30px;
	text-align:center;
	width:99.896801%; /*968px*/
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}
	
/*media queries

============================================================================= */

/*Tablet Portrait size to standard 935px (devices and browsers)*/
@media screen and (min-width:768px) and (max-width:934px){ 
	
	h1{
		font-size:2.375em; /*38px*/
		margin-right:4.282655%; /*40px*/
	}
	
	h2{
		font-size:1.0625em; /*17px*/
		margin-top:-90px;
	}
}

/*Mobile Landscape  size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width:480px) and (max-width:767px){ 
	
	h1{
		font-size:1.6875em; /*27px*/
		margin-top:37px;
		}
	h2{
		display:none;
		}
	h3{
		font-size:0.9375em; /*15px*/
		}
	#metals li{
		font-size:0.875em; /*14px*/
		}	
	#navagation{
		margin-top:25px;
		}
	p{
		font-size:0.875em; /*14px*/
		}
}


/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
@media only screen and (max-width:479px){
	
	#lotusflower{
		display:none;
		}
	h1{
		float:none;
		font-size:3.125em; /*50px*/
		width:90%;
		margin:0 auto;
		}
	h2{
		float:none;
		display:none;
		}
	#make{
		overflow:hidden;
		width:90%;
		}
	aside{
		float:none;
		display:none;
		}
	#free{
		overflow:hidden;
		width:90%;
		}
	#images li{
		float:none;
		margin:0 auto;
		}
	#navagation li{
		float:none;
		margin:0 auto;
		}	
}







